@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Calc = 20 / 5;
}

@model BooksViewModel

<h1 class="border-dark">De Boekenwinkel</h1>

@*This is another of my bootstrap extras*@
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Welcome!</strong> We are constantly expanding our collection. Please be patient as we bring more of your favorite titles!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}

<div page-model="@Model.PageInfo" page-action="Index" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-class-enabled="true"
     class="btn-group pull-right m-1"></div>